/*#logo {*/
/*    display: block;*/
/*    max-width: 10% !important;*/
/*}*/

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2017/10/01/16/45/hair-2806123_960_720.jpg");

    /* Full height */
    height: 85vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding:300px 20px;
}

#testimony {
    width: 50%;
}

#panel {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.7)), url("https://www.headcurve.com/wp-content/uploads/2018/12/Barbershop-interior-design-dec8-00008.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 10px;
    border-style: solid;
    border-color: #0d6efd;
    border-width: 1px;
    margin: 10px;
}
#panel2 {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 10px;
    border-style: solid;
    border-color: #0d6efd;
    border-width: 1px;
    margin: 10px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.7)), url("https://nashvillelifestyles.com/downloads/5197/download/boardroom.jpe?cb=b7ff6bd3539896a9b7909c17e4f2a784&w=-1");

}
.bg {
    width: 100%;
}



